<h1 class="text-align-center">Giannina Ansaldo</h1>
<h4>¡Bienvenidos!</h4>
<%= image_tag 'portada.jpg', class: 'img-fluid rounded mb-3 portada-img' %>
<%= image_tag 'paw.gif', class: 'img-thumbnail gif-img' %>
