<h1>Proyectos Realizados</h1>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../viajes_chile.jpg" alt="Proyecto 1">
    <div class="card-body">
      <h5 class="card-title">Viajes Chile</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
      <a href="#" class="btn btn-primary ver-mas-btn">Ver más</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="ruta_a_imagen2" alt="Proyecto 2">
    <div class="card-body">
      <h5 class="card-title">Proyecto 2</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
      <a href="#" class="btn btn-primary ver-mas-btn">Ver más</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="ruta_a_imagen3" alt="Proyecto 3">
    <div class="card-body">
      <h5 class="card-title">Proyecto 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
      <a href="#" class="btn btn-primary ver-mas-btn">Ver más</a>
    </div>
  </div>
</div>


<%= stylesheet_link_tag 'estilos', media: 'all' %>
